extends html

snippet prettier-ignore "prettier ignore für das folgende HTML/Svelte Element"
  <!-- prettier-ignore -->

snippet prettier-ignore-start "prettier ignore start"
  <!-- prettier-ignore-start -->

snippet prettier-ignore-end "prettier ignore end"
  <!-- prettier-ignore-end -->
