
snippet frame-beamer-basic "Einfacher Beamer Frame"
  \begin{frame}{${1:folientitel}}
    ${2:inhalt}

    \source{quellen-angabe}
  \end{frame}

snippet frame-beamer-bullets "Frame mit Bullets"
  \begin{frame}{${1:folientitel}}
    \begin{itemize}[<+->]
      \item ${2}
      \item
      \item
    \end{itemize}

    \source{${3:quellen-angabe}}
  \end{frame}

snippet frame-beamer-2col "Frame mit 2 Spalten"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]

      \column{0.48\textwidth}
        ${2:linker Inhalt}

      \column{0.48\textwidth}
        ${3:rechter Inhalt}

    \end{columns}

    \source{${4:quellen-angabe}}
  \end{frame}
  ${0}

snippet frame-beamer-img-right "Text links, Bild rechts"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]

      \column{0.54\textwidth}
        \begin{itemize}[<+->]
          \item ${2}
          \item
          \item
        \end{itemize}

      \column{0.42\textwidth}
        \includegraphics[width=\linewidth]{${3:bildtitel}}

    \end{columns}

    \source{${4:quellen-angabe}}
  \end{frame}
  ${0}

snippet frame-beamer-2col "Frame Beamer mit 2 Spalten"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]
      \column{0.48\textwidth}
        % linker Inhalt
        \begin{itemize}[<+->]
          \item ${2:erste-bullet-links}
          \item 
          \item 
          \item
        \end{itemize}
      \column{0.48\textwidth}
        % rechter Inhalt
        \begin{itemize}[<+->]
          \item 
          \item 
          \item 
          \item
        \end{itemize}
    \end{columns}

    \source{quellen-angabe}
  \end{frame}

snippet frame-beamer-img-swap "Frame mit wechselnden Bildern"
  \begin{frame}{${1:folientitel}}
    \centering

    \only<1>{
      \includegraphics[width=${2:0.8\linewidth}]{${3:bild1}}
    }

    \only<2->{
      \includegraphics[width=${2:0.8\linewidth}]{${4:bild2}}
    }

    \source{${5:quellen-angabe}}
  \end{frame}
  ${0}

snippet frame-beamer-compare "Vergleich in 2 Spalten"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]

      \column{0.48\textwidth}
        \textbf{${2:links}}

        ${3:linker Inhalt}

      \column{0.48\textwidth}
        \textbf{${4:rechts}}

        ${5:rechter Inhalt}

    \end{columns}

    \source{${6:quellen-angabe}}
  \end{frame}
  ${0}

snippet frame-beamer-takehome "Frame mit Take-home"
  \begin{frame}{${1:folientitel}}
    ${2:inhalt}

    \vfill
    \uncover<${3:2}->{
      \takehome{${4:take-home}}
    }

    \source{${5:quellen-angabe}}
  \end{frame}
  ${0}

snippet frame-beamer-plain-img "Plain Frame mit Vollbild"
  \begin{frame}[plain]
    \centering
    \includegraphics[
      width=\paperwidth,
      height=\paperheight,
      keepaspectratio
    ]{${1:bildtitel}}
  \end{frame}
  ${0}

snippet frame-beamer-annotated-right "Text links, annotiertes Bild rechts"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]

      \column{0.42\textwidth}
        \begin{itemize}[<+->]
          \item ${2}
          \item
          \item
        \end{itemize}

      \column{0.54\textwidth}
        \annotatedimage[\linewidth]{${3:bildtitel}}

          % \imagegrid
          % \imagecircle<2->{0.45}{0.55}{0.08}
          % \imagearrow<3->{0.80}{0.75}{0.53}{0.60}
          % \imagelabel<3->{0.78}{0.82}{Beschriftung}

        \endannotatedimage

    \end{columns}

    \source{${4:quellen-angabe}}
  \end{frame}
  ${0}

snippet frame-beamer-png "Frame Beamer mit PNG"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]
      \column{0.54\textwidth}
        \includegraphics[width=\linewidth]{${2:bildtitel}}
      \column{0.42\textwidth}
      \begin{itemize}[<+->]
        \item 
        \item 
        \item 
        \item
      \end{itemize}
    \end{columns}
    \source{quellen-angabe}
  \end{frame}

snippet frame-beamer-annotated "Frame Beamer mit annotiertem Bild"
  \begin{frame}{${1:folientitel}}
    \centering

    \annotatedimage[0.8\linewidth]{${2:bildtitel}}

      % \imagegrid

      % \imagecircle<2->{0.45}{0.55}{0.08}
      % \imagearrow<3->{0.80}{0.75}{0.53}{0.60}
      % \imagelabel<3->{0.78}{0.82}{Beschriftung}

    \endannotatedimage

    \source{${3:quellen-angabe}}
  \end{frame}

snippet frame-beamer-2col-img "Frame Beamer: Bild links, Text rechts"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]

      \column{0.54\textwidth}
        \includegraphics[width=\linewidth]{${2:bildtitel}}

      \column{0.42\textwidth}
        \begin{itemize}[<+->]
          \item ${3}
          \item
          \item
        \end{itemize}

    \end{columns}

    \source{quellen-angabe}
  \end{frame}

snippet frame-beamer-2col-annotated "Frame Beamer: annotiertes Bild links, Text rechts"
  \begin{frame}{${1:folientitel}}
    \begin{columns}[T,onlytextwidth]

      \column{0.54\textwidth}
        \annotatedimage[\linewidth]{${2:bildtitel}}

          % \imagegrid

          % \imagecircle<2->{0.45}{0.55}{0.08}
          % \imagearrow<3->{0.80}{0.75}{0.53}{0.60}
          % \imagelabel<3->{0.78}{0.82}{Beschriftung}

        \endannotatedimage

      \column{0.42\textwidth}
        \begin{itemize}[<+->]
          \item ${3}
          \item
          \item
        \end{itemize}

    \end{columns}

    \source{quellen-angabe}
  \end{frame}

snippet beamer-video-extern "externes Video in Beamer"
  \href{run:./videos/${1:videoname}.mp4}{%
  \beamerbutton{Video abspielen}
  }
