# https://sioyek-documentation.readthedocs.io/en/latest/configuration.html
# https://www.youtube.com/watch?v=RaHRvnb0dY8&t=4s

# inverse_search_command "nvim --headless -c 'edit +%2 %1' -c 'normal zt'"


# inverse_search_command "nvim --headless -c 'VimtexInverseSearch %l %f'"
#
font_size 15
status_bar_font_size 15

# custom_background_color 0.180 0.204 0.251
# custom_text_color 0.847 0.871 0.914

# mehrere start commands mit ; trennen
# startup_commands toggle_custom_color

# macht neue pdf immer in einem neuen Fenster auf statt das alte zu überschreiben
should_launch_new_window 1

# pdf in einem anderen Viewer öffnen um sie dann zu drucken
# execute_command_b open -a Preview %1
# execute_command_b open -a "PDF Expert" %1

execute_command_b open -b com.readdle.PDFExpert-Mac %1
# execute_command_g open -b org.zotero.zotero %1
execute_command_p /usr/bin/lp -o sides=one-sided -o media=a4 %1
